<h1>Welcome to the Admin Dashboard</h1>
<p>
  <mark>
    Total number of 
    <%= link_to 'Products', [:admin, :products] %>: 
    <%= @product_count %>
  </mark>
</p>
<p>
  <mark>
    Total number of 
    <%= link_to 'Categories', 'categories/2' %>: 
    <%= @category_count %>
  </mark>
</p>