<div style="display: none">
#########################################################
## Need to modify class names from products to categories
#########################################################
</div>

<section class="admin-products-index">
  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>
  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
  <div class="panel panel-default products">
        <%= render @categories %>
  </div>
</section>
